# Jupyter
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Python (na wypadek dorzucenia skryptów .py)
__pycache__/
*.py[cod]
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Sekrety i lokalna konfiguracja
.env
service_account.json
configuration.yml
google-cloud-sdk
